$basic-cream: #fdefd9;
$basic-moji_color: #0f2b3e;
$basic-blue: #194a6c;
$basic-red: #c83241;

.header_container {
  display: flex;
  align-items: center;
  background-color: $basic-cream;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 4px 7px 8px -3px rgba(156, 156, 156, 0.3);
  font-size: 1.1rem;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  gap: 3rem;

  .main_title {
    color: $basic-red;
    padding: 3px;
    cursor: pointer;
  }

  .sub_title_wrapper {
    display: flex;
    align-items: center;
    color: $basic-blue;
    align-items: center;
    gap: 1.5rem;

    .menu {
      cursor: pointer;
      padding: 3px;
    }
  }
}