$basic-1: #f5faff;
$basic-2: #144923;
$basic-3: #93d013;
$basic-4: #d67754;
$basic-5: #05abc9;

.main_container {
  background-color: $basic-1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  font-family: 'Arial', sans-serif;

  .content_1 {
    position: relative;

    .top_image {
      width: 100%;
    }

    .image_filter {
      position: absolute;
      top: -3px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #144923;
      opacity: 0.4;
    }

    .main_title {
      position: absolute;
      top: 40%;
      left: 0;
      color: white;
      font-size: 2.3rem;
      font-weight: 600;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 15px 40px;
      width: 35%;
    }
  }

  .content_2 {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .title {
      font-size: 1.3rem;
      color: $basic-3;
    }

    .profile_wrapper {
      display: flex;
      justify-content: center;
      gap: 2rem;

      .avater_image {
        height: 200px;
        width: 200px;
        border-radius: 100px;
      }

      .introduction {
        font-size: 0.85rem;
        width: 55%;
        color: $basic-2;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .details {
          display: flex;
          flex-direction: column;
          gap: 3px;

          .hobby,
          .ricense {
            display: flex;
            align-items: center;
            gap: 5px;

            .marker {
              background-color: $basic-2;
              color: white;
              padding: 1px 8px;
              font-size: 0.75rem;
              border-radius: 100px;
            }
          }
        }
      }
    }
  }

  .content_3 {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1.3rem;
      color: $basic-3;
      text-align: center;
    }

    .carousel_wrapper {
      .swiper {
        padding: 1.5rem 3rem;
        --swiper-navigation-size: 32px;
        --swiper-navigation-color: #194a6c;
      }

      .project {
        padding: 1rem;
        background-color: white;
        box-shadow: 4px 7px 8px -3px rgba(156, 156, 156, 0.3);
        border-radius: 0.4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
        transition:
          transform 0.3s ease,
          box-shadow 0.3s ease;

        &:hover {
          transform: scale(1.03);
          box-shadow: 6px 10px 14px -3px rgba(156, 156, 156, 0.4);
        }

        .service_image {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

        .introduction {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 5px;

          .service_title {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 1rem;
            color: $basic-2;

            .marker {
              font-size: 0.7rem;
              padding: 1px 8px;
              color: white;
              white-space: nowrap;
              border-radius: 50px;
            }

            .web_app {
              background-color: $basic-2;
            }

            .web_site {
              background-color: $basic-4;
            }

            .sample {
              background-color: $basic-5;
            }
          }

          .detail_link {
            display: flex;
            justify-content: flex-end;
            font-size: 0.9rem;
            color: gray;
            align-items: center;
            gap: 5px;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .content_4 {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title {
      font-size: 1.3rem;
      color: $basic-3;
      text-align: center;
    }

    .skill_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .detail_wrapper {
        display: flex;
        width: 90%;
        gap: 1rem;
        background-color: #94d01327;
        padding: 0.8rem;

        .sentence {
          width: 100%;
          border: 1px solid #14492364;
          padding: 0.5rem;
          border-radius: 0.4rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: $basic-2;
          gap: 3px;

          .detail {
            font-size: 0.85rem;
          }
        }
      }

      .card {
        background-color: white;
        box-shadow: 4px 7px 8px -3px rgba(156, 156, 156, 0.3);
        padding: 1rem;
        border-radius: 0.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .top_wrapper,
      .bottom_wrapper {
        display: flex;

        .card_title {
          color: $basic-3;
          font-size: 1.1rem;
        }

        .card {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.8rem;

          .card_content_wrapper {
            width: 100%;

            table {
              width: 100%;
              border-collapse: collapse;

              .level {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .valid_icon {
                  color: $basic-2;
                }

                .invalid_icon {
                  color: rgba(195, 204, 193, 0.465);
                }
              }

              tr {
                &:not(:last-child) td {
                  border-bottom: 1px solid rgba(195, 204, 193, 0.355);
                }

                td {
                  padding: 5px 10px;

                  &:not(:last-child) {
                    font-size: 0.9rem;
                    color: $basic-2;
                  }
                }
              }
            }
          }
        }
      }

      .top_wrapper {
        width: 80%;
        gap: 1rem;
      }

      .bottom_wrapper {
        width: 90%;
        gap: 1rem;
      }
    }
  }

  .content_5 {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;

    .title {
      font-size: 1.3rem;
      color: $basic-3;
      text-align: center;
    }

    .news_wrapper {
      background-color: white;
      box-shadow: 4px 7px 8px -3px rgba(156, 156, 156, 0.3);
      padding: 1rem;
      border-radius: 0.4rem;
      height: 200px;
      overflow-y: auto;

      table {
        border-collapse: collapse;
        width: 100%;

        td {
          padding: 5px 10px;
          border-bottom: 1px solid rgba(195, 204, 193, 0.355);

          &:first-child {
            width: 15%;
            color: gray;
          }

          &:last-child {
            color: $basic-2;
          }
        }
      }

      .no_news {
        display: flex;
        align-items: center;
        color: gray;
        justify-content: center;
        padding: 5rem;
        gap: 5px;
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .modal {
    background: white;
    padding: 1.5rem;
    border-radius: 0.4rem;
    width: 50%;
    position: relative;

    transform: scale(0.8);
    opacity: 0;
    transition: all 0.3s ease;

    &.active {
      transform: scale(1);
      opacity: 1;
    }

    .modal_contents_wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .border {
        background-color: #14492364;
        height: 1px;
        width: 100%;
      }

      .project_title_wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .kind {
          display: flex;
          align-items: center;
          gap: 8px;

          .marker {
            font-size: 0.85rem;
            padding: 2px 10px;
            border-radius: 50px;
          }

          .web_app {
            background-color: #94d01327;
            color: $basic-2;
          }

          .web_site {
            background-color: #d6845444;
            color: $basic-4;
          }

          .devices {
            color: gray;
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }

        .project_name {
          color: $basic-2;
          font-size: 1rem;
          font-weight: 600;
        }
      }

      .project_detail_wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .products {
          font-size: 0.9rem;
          border-collapse: collapse;

          td {
            padding: 2px 8px;

            &:first-child {
              background-color: $basic-2;
              color: white;
              white-space: nowrap;
              width: 10%;
            }

            &:last-child {
              color: $basic-2;
            }
          }
        }

        .project_details {
          font-size: 0.9rem;
          color: $basic-2;
          display: flex;
          flex-direction: column;
          gap: 8px;

          .sub_title {
            font-weight: 600;
          }

          .attention {
            font-size: 0.9rem;
            color: rgb(95, 95, 95);
          }
        }
      }
    }
  }

  .close_btn {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $basic-2;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid white;
  }
}

.mobile_main_container {
  background-color: $basic-1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: 'Arial', sans-serif;
  padding-top: 60px;

  .content_1 {
    position: relative;

    .top_image {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .image_filter {
      position: absolute;
      top: -4px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #144923;
      opacity: 0.4;
    }

    .main_title {
      position: absolute;
      top: 35%;
      left: 0;
      color: white;
      font-size: 1rem;
      font-weight: 600;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 15px 40px;
      width: 35%;
    }
  }

  .content_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

    .title {
      font-size: 1.2rem;
      color: $basic-3;
    }

    .profile_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .avater_image {
        height: 150px;
        width: 150px;
        border-radius: 100px;
      }

      .introduction {
        font-size: 0.8rem;
        color: $basic-2;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0.8rem 1rem;
        background-color: white;
        margin: 0.8rem 0.8rem 0 0.8rem;
        border-radius: 0.4rem;
        border: 1px solid #14492364;
        position: relative;

        .details {
          display: flex;
          flex-direction: column;
          gap: 3px;

          .hobby,
          .ricense {
            display: flex;
            align-items: center;
            gap: 5px;

            .marker {
              background-color: $basic-2;
              color: white;
              padding: 1px 8px;
              font-size: 0.75rem;
              border-radius: 100px;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .content_3 {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1.2rem;
      color: $basic-3;
      text-align: center;
    }

    .carousel_wrapper {
      z-index: 10;

      .swiper {
        padding: 1.3rem 1.8rem;
        --swiper-navigation-size: 32px;
        --swiper-navigation-color: #194a6c;
      }

      .project {
        padding: 1rem;
        background-color: white;
        box-shadow: 4px 7px 8px -3px rgba(156, 156, 156, 0.3);
        border-radius: 0.4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
        transition:
          transform 0.3s ease,
          box-shadow 0.3s ease;

        &:hover {
          transform: scale(1.03);
          box-shadow: 6px 10px 14px -3px rgba(156, 156, 156, 0.4);
        }

        .service_image {
          width: 100%;
          height: 130px;
          object-fit: cover;
        }

        .introduction {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 5px;

          .service_title {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 0.8rem;
            color: $basic-2;

            .marker {
              font-size: 0.7rem;
              padding: 1px 8px;
              color: white;
              white-space: nowrap;
              border-radius: 50px;
              width: fit-content;
            }

            .web_app {
              background-color: $basic-2;
            }

            .web_site {
              background-color: $basic-4;
            }

            .sample {
              background-color: $basic-5;
            }
          }

          .detail_link {
            display: flex;
            justify-content: flex-end;
            font-size: 0.8rem;
            color: gray;
            align-items: center;
            gap: 5px;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .content_4 {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .title {
      font-size: 1.2rem;
      color: $basic-3;
      text-align: center;
    }

    .skill_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .detail_wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background-color: #94d01327;
        padding: 0.8rem;
        border-radius: 0.4rem;

        .sentence {
          border: 1px solid #14492364;
          padding: 0.5rem;
          border-radius: 0.4rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: $basic-2;
          gap: 3px;

          .detail {
            font-size: 0.8rem;
          }

          .icon {
            font-size: 0.9rem;
          }
        }
      }

      .select-wrapper {
        z-index: 10;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;

        select {
          padding: 10px;
          font-size: 0.9rem;
          border-radius: 0.3rem;
          border: 1px solid gray;
          outline: none;
        }

        .select_contents {
          transition: all 0.3s ease;
          opacity: 1;
          transform: translateY(0);
        }

        .select_contents.hide {
          opacity: 0;
          transform: translateY(10px);
        }

        .select_contents.show {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .card {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        background-color: white;
        box-shadow: 4px 7px 8px -3px rgba(156, 156, 156, 0.3);
        padding: 1rem;
        border-radius: 0.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card_title {
          color: $basic-3;
          font-size: 1.1rem;
        }

        .card_content_wrapper {
          width: 100%;

          table {
            width: 100%;
            border-collapse: collapse;

            .level {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              font-size: 0.9rem;

              .valid_icon {
                color: $basic-2;
              }

              .invalid_icon {
                color: rgba(195, 204, 193, 0.465);
              }
            }

            tr {
              &:not(:last-child) td {
                border-bottom: 1px solid rgba(195, 204, 193, 0.355);
              }

              td {
                padding: 5px 10px;

                &:not(:last-child) {
                  font-size: 0.8rem;
                  color: $basic-2;
                }
              }
            }
          }
        }
      }
    }
  }

  .content_5 {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;

    .title {
      font-size: 1.3rem;
      color: $basic-3;
      text-align: center;
    }

    .news_wrapper {
      background-color: white;
      box-shadow: 4px 7px 8px -3px rgba(156, 156, 156, 0.3);
      padding: 1rem;
      border-radius: 0.4rem;
      height: 200px;
      overflow-y: auto;

      table {
        border-collapse: collapse;
        width: 100%;
        font-size: 0.8rem;

        td {
          padding: 5px 10px;
          border-bottom: 1px solid rgba(195, 204, 193, 0.355);

          &:first-child {
            width: 15%;
            color: gray;
          }

          &:last-child {
            color: $basic-2;
          }
        }
      }

      .no_news {
        display: flex;
        align-items: center;
        color: gray;
        justify-content: center;
        padding: 5rem;
        gap: 5px;
      }
    }
  }
}