$basic-1: #c7dee3;
$basic-2: #0d4c6d;
$basic-3: #5077a2;
$basic-4: #12ae5f;
$basic-5: #e8cd11;
$basic-6: #f9060f;
$basic-7: #34ddee;

.sample_1_container {
  background-color: $basic-1;
  display: flex;
  height: 100vh;

  .main_wrapper {
    flex: 1;
    overflow-y: auto;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    .main_title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      font-weight: 600;
      color: $basic-3;
    }

    .contents_wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .option_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .hidden_check {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;

        .mini_title {
          font-size: 0.7rem;
          color: $basic-2;
          white-space: nowrap;
        }

        label {
          display: flex;
          align-items: center;
          gap: 0 .5em;
          position: relative;
          cursor: pointer;
          font-size: 0.8rem;

          .sentence {
            color: $basic-2;
          }

          &::before,
          &:has(:checked)::after {
            content: '';
          }

          &::before {
            width: 18px;
            height: 18px;
            border-radius: 0.2rem;
            background-color: white;
            border: 1px solid $basic-3;
            transition: all 0.2s ease;
          }

          &:has(:checked)::before {
            background-color: $basic-2;
          }

          &:has(:checked)::after {
            position: absolute;
            top: 3px;
            left: 7px;
            transform: rotate(45deg);
            width: 4px;
            height: 8px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
          }

          input {
            display: none;
          }
        }
      }

      .sort_title {
        color: $basic-2;
      }

      .btn_wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;

        .sort_btn,
        .all_delete_btn,
        .cancel_btn,
        .submit_btn {
          display: flex;
          align-items: center;
          gap: 3px;
          font-size: 0.8rem;
          color: white;
          padding: 3px 6px;
          border-radius: 0.2rem;
          cursor: pointer;
          transition: all 0.2s ease;
        }

        .sort_btn {
          background-color: $basic-3;

          &:hover {
            background-color: #1b6288;
          }
        }

        .all_delete_btn {
          background-color: $basic-6;

          &:hover {
            background-color: #f93d43;
          }
        }

        .cancel_btn {
          background-color: gray;

          &:hover {
            background-color: rgb(143, 143, 143);
          }
        }

        .submit_btn {
          background-color: $basic-2;

          &:hover {
            background-color: #13577b;
          }
        }
      }
    }

    .todo_list_wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .create_preview {
        border: 3px solid $basic-3;
        border-radius: 0.4rem;
        background-color: #2a7fac41;
        padding: 3px;
        display: flex;
        flex-direction: column;
        gap: 3px;

        .creating_title {
          color: $basic-2;
        }
      }

      .sorting_wrapper {
        border: 3px solid $basic-3;
        border-radius: 0.4rem;
        background-color: #2a7fac41;
        padding: 3px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .editting_card {
        border: 3px solid $basic-3;
        border-radius: 0.4rem;
        background-color: #2a7fac41;
        padding: 3px;
        display: flex;
        flex-direction: column;
        gap: 3px;

        .editting_mode_wrapper {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          .editting_title {
            color: $basic-2;
          }

          .cancel_btn {
            display: flex;
            align-items: center;
            gap: 3px;
            font-size: 0.8rem;
            background-color: $basic-3;
            color: white;
            padding: 2px 6px;
            border-radius: 0.2rem;
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
              background-color: #1b6288;
            }
          }
        }
      }

      .item_card {
        background-color: white;
        box-shadow: 4px 7px 8px -3px rgba(156, 156, 156, 0.3);
        padding: 1rem;
        border-radius: 0.4rem;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.2s ease;
        gap: 1rem;

        &:hover {
          background-color: #e9f0f7;
        }

        .card_left {
          display: flex;
          flex-direction: column;
          gap: 3px;

          .title_wrapper {
            display: flex;
            align-items: flex-start;
            gap: 5px;

            .badge {
              padding: 2px 8px;
              border-radius: 0.2rem;
              font-size: 0.8rem;
            }

            .denger {
              background-color: $basic-6;
              color: white;
            }

            .gaisyutsu {
              background-color: $basic-5;
              color: $basic-2;
            }

            .new {
              background-color: $basic-2;
              color: white;
            }
          }

          .detail {
            white-space: pre-wrap;
          }
        }

        .card_right {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .task_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2px;

            .mini_title {
              font-size: 0.7rem;
              color: $basic-2;
              white-space: nowrap;
            }

            label {
              display: flex;
              align-items: center;
              gap: 0 .5em;
              position: relative;
              cursor: pointer;

              &::before,
              &:has(:checked)::after {
                content: '';
              }

              &::before {
                width: 18px;
                height: 18px;
                border-radius: 0.2rem;
                background-color: white;
                border: 1px solid $basic-3;
                transition: all 0.2s ease;
              }

              &:has(:checked)::before {
                background-color: $basic-2;
              }

              &:has(:checked)::after {
                position: absolute;
                top: 3px;
                left: 7px;
                transform: rotate(45deg);
                width: 4px;
                height: 8px;
                border: solid #fff;
                border-width: 0 2px 2px 0;
              }

              input {
                display: none;
              }
            }
          }

          .handle {
            padding: 3px;
            cursor: grab;
            color: gray;

            &:active {
              cursor: grabbing !important;
            }
          }
        }
      }

      .disabled_card {
        cursor: default;

        &:hover {
          background-color: white;
        }
      }

      .no_data {
        display: flex;
        align-items: center;
        color: gray;
        justify-content: center;
        padding: 5rem;
        gap: 5px;
      }
    }
  }

  .side_menu {
    width: 40%;
    background: #5077a2;
    padding: 1.2rem;
    box-shadow: -6px 0 16px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    .sub_title {
      color: white;
      font-weight: 600;
    }

    .title_wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .delete_btn,
      .reset_btn {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 0.8rem;

        color: white;
        padding: 3px 6px;
        border-radius: 0.2rem;
        transition: all 0.2s ease;
        cursor: pointer;
      }

      .delete_btn {
        background-color: $basic-6;

        &:hover {
          background-color: #f93d43;
        }
      }

      .reset_btn {
        background-color: gray;

        &:hover {
          background-color: rgb(143, 143, 143);
        }
      }
    }

    .input_wrapper {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .input_form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3px;

        label {
          font-size: 0.8rem;
          color: white;
        }

        input[type=text],
        textarea {
          font-size: 0.9rem;
          color: $basic-2;
          padding: 6px 8px;
          border-radius: 0.3rem;
          border: 1px solid $basic-2;
          outline: none;
          transition: all 0.2s ease;

          &:focus {
            border: 1px solid $basic-7;
            outline: 3px solid #34deee44;
          }
        }

        textarea {
          resize: none;
        }

        .style_change {
          display: flex;
          align-items: center;
          gap: 3rem;

          .color_select {
            display: flex;
            align-items: center;
            gap: 5px;

            input[type=color] {
              border-radius: 0.3rem;
              border: 1px solid $basic-2;
              cursor: pointer;
              transition: all 0.2s ease;

              &:focus {
                border: 1px solid $basic-7;
                outline: 3px solid #34deee44;
              }
            }

            .default_colors {
              display: flex;
              align-items: center;
              gap: 3px;
              margin-left: 5px;

              label {
                border: 1px solid $basic-2;
                width: 1.3rem;
                height: 1.3rem;
                border-radius: 0.3rem;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all 0.2s ease;

                .color_core {
                  width: 0.9rem;
                  height: 0.9rem;
                  border-radius: 0.2rem;
                }

                &:first-child .color_core {
                  background-color: $basic-2;
                }

                &:nth-of-type(2) .color_core {
                  background-color: $basic-6;
                }

                &:last-child .color_core {
                  background-color: $basic-4;
                }

                input[type=radio] {
                  display: none;
                }

                &:has(:checked) {
                  border: 1px solid $basic-7;
                  outline: 3px solid #34deee44;
                }
              }
            }
          }

          .boldness_select {
            display: flex;
            align-items: center;

            .checkbox-container {
              display: inline-block;
              position: relative;
              padding-left: 25px;
              cursor: pointer;
              font-size: 0.8rem;
              user-select: none;

              .custom-checkbox {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
              }

              .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 18px;
                width: 18px;
                border-radius: 4px;
                transition: background-color 0.3s;
                border: 1px solid white;

                &:after {
                  content: "";
                  position: absolute;
                  display: none;
                  left: 6px;
                  top: 1px;
                  width: 5px;
                  height: 8px;
                  border: solid $basic-3;
                  border-width: 0 3px 3px 0;
                  transform: rotate(45deg);
                }
              }

              .custom-checkbox:checked~.checkmark {
                background-color: white;
              }

              .custom-checkbox:checked~.checkmark:after {
                display: block;
              }

              .custom-checkbox:checked~.checkmark:after {
                animation: checkAnim 0.2s forwards;
              }
            }

            @keyframes checkAnim {
              0% {
                height: 0;
              }

              100% {
                height: 10px;
              }
            }
          }
        }

        .badge_radio_wrapper {
          display: flex;
          align-items: center;
          gap: 0.8rem;

          label {
            border: 1px solid white;
            padding: 4px;
            border-radius: 0.3rem;
            width: 60px;
            text-align: center;
            cursor: pointer;
            font-size: 0.9rem;
            transition: all 0.2s ease;

            input[type=radio] {
              display: none;
            }

            &:has(:checked) {
              background-color: white;
              color: $basic-3;
            }
          }
        }

        .badge_style_change {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 0.8rem;

          .name_select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.8rem;

            .name_radio_wrapper {
              display: flex;
              align-items: center;
              gap: 0.8rem;

              label {
                border: 1px solid white;
                padding: 4px;
                border-radius: 0.3rem;
                width: 80px;
                text-align: center;
                cursor: pointer;
                font-size: 0.9rem;
                transition: all 0.2s ease;

                input[type=radio] {
                  display: none;
                }

                &:has(:checked) {
                  background-color: white;
                  color: $basic-3;
                }
              }
            }
          }

          .free_badge_input {
            width: 100%;
            display: flex;
            align-items: center;

            input {
              width: fill;
              transition: all 0.2s ease;

              &:focus {
                border: 1px solid $basic-7;
                outline: 3px solid #34deee44;
              }
            }
          }

          .color_wrapper {
            display: flex;
            align-items: center;
            gap: 1rem;

            .color_select {
              display: flex;
              align-items: center;
              gap: 5px;

              input[type=color] {
                border-radius: 0.3rem;
                border: 1px solid $basic-2;
                cursor: pointer;
                transition: all 0.2s ease;

                &:focus {
                  border: 1px solid $basic-7;
                  outline: 3px solid #34deee44;
                }
              }
            }
          }
        }
      }
    }

    .submit_btn {
      background-color: $basic-7;
      color: $basic-2;
      border: 1px solid $basic-3;
      font-size: 0.9rem;
      padding: 4px;
      border-radius: 0.3rem;
      transition: all 0.2s ease;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: #48e7f5;
      }
    }
  }
}

.app-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .app-modal {
    background: white;
    padding: 1.5rem;
    border-radius: 0.4rem;
    width: 50%;
    position: relative;

    transform: scale(0.8);
    opacity: 0;
    transition: all 0.3s ease;

    &.active {
      transform: scale(1);
      opacity: 1;
    }

    .modal_contents_wrapper {
      .main_wrapper {
        color: $basic-2;
      }

      .btn_wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;

        button {
          font-size: 0.9rem;
          width: 100px;
          padding: 3px;
          border: none;
          border-radius: 0.2rem;
          color: white;
          cursor: pointer;
          transition: all 0.2s ease;

          &:first-child {
            background-color: gray;

            &:hover {
              background-color: rgb(143, 143, 143);
            }
          }

          &:last-child {
            background-color: $basic-2;

            &:hover {
              background-color: #13577b;
            }
          }
        }
      }
    }
  }

  .close_btn {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: gray;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid white;
  }
}

.mobile_sample_1_container {
  background-color: $basic-1;
  height: 100vh;
  width: 100vw;

  .create_btn {
    background-color: $basic-2;
    color: white;
    font-size: 1.3rem;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 10;
  }

  .main_wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .main_title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      font-weight: 600;
      color: $basic-3;
    }

    .contents_wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .option_wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;

      .hidden_check {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // gap: 2px;
        // background-color: pink;

        .mini_title {
          font-size: 0.9rem;
          color: $basic-2;
          white-space: nowrap;
        }

        label {
          display: flex;
          align-items: center;
          gap: 0.5em;
          position: relative;
          cursor: pointer;
          font-size: 0.9rem;

          .sentence {
            color: $basic-2;
          }

          &::before,
          &:has(:checked)::after {
            content: '';
          }

          &::before {
            width: 22px;
            height: 22px;
            border-radius: 0.3rem;
            background-color: white;
            border: 1px solid $basic-3;
            transition: all 0.2s ease;
          }

          &:has(:checked)::before {
            background-color: $basic-2;
          }

          &:has(:checked)::after {
            position: absolute;
            top: 6px;
            left: 9px;
            transform: rotate(45deg);
            width: 4px;
            height: 8px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
          }

          input {
            display: none;
          }
        }
      }

      .sort_title {
        color: $basic-2;
      }

      .btn_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.8rem;

        .sort_btn,
        .all_delete_btn,
        .cancel_btn,
        .submit_btn {
          display: flex;
          align-items: center;
          gap: 3px;
          font-size: 0.9rem;
          color: white;
          padding: 4px 8px;
          border-radius: 0.3rem;
          cursor: pointer;
          transition: all 0.2s ease;
        }

        .sort_btn {
          background-color: $basic-3;

          &:hover {
            background-color: #1b6288;
          }
        }

        .all_delete_btn {
          background-color: $basic-6;

          &:hover {
            background-color: #f93d43;
          }
        }

        .cancel_btn {
          background-color: gray;

          &:hover {
            background-color: rgb(143, 143, 143);
          }
        }

        .submit_btn {
          background-color: $basic-2;

          &:hover {
            background-color: #13577b;
          }
        }
      }
    }

    .todo_list_wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 80vh;
      overflow-y: auto;

      .create_preview {
        border: 3px solid $basic-3;
        border-radius: 0.4rem;
        background-color: #2a7fac41;
        padding: 3px;
        display: flex;
        flex-direction: column;
        gap: 3px;

        .creating_title {
          color: $basic-2;
        }
      }

      .sorting_wrapper {
        border: 3px solid $basic-3;
        border-radius: 0.4rem;
        background-color: #2a7fac41;
        padding: 3px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .editting_card {
        border: 3px solid $basic-3;
        border-radius: 0.4rem;
        background-color: #2a7fac41;
        padding: 3px;
        display: flex;
        flex-direction: column;
        gap: 3px;

        .editting_mode_wrapper {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          .editting_title {
            color: $basic-2;
          }

          .cancel_btn {
            display: flex;
            align-items: center;
            gap: 3px;
            font-size: 0.9rem;
            background-color: $basic-3;
            color: white;
            padding: 3px 6px;
            border-radius: 0.3rem;
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
              background-color: #1b6288;
            }
          }
        }
      }

      .item_card {
        background-color: white;
        box-shadow: 4px 7px 8px -3px rgba(156, 156, 156, 0.3);
        padding: 1rem;
        border-radius: 0.4rem;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.2s ease;
        gap: 1rem;

        &:hover {
          background-color: #e9f0f7;
        }

        .card_left {
          display: flex;
          flex-direction: column;
          gap: 3px;

          .title_wrapper {
            display: flex;
            align-items: flex-start;
            gap: 5px;

            .badge {
              padding: 2px 8px;
              border-radius: 0.2rem;
              font-size: 0.8rem;
            }

            .denger {
              background-color: $basic-6;
              color: white;
            }

            .gaisyutsu {
              background-color: $basic-5;
              color: $basic-2;
            }

            .new {
              background-color: $basic-2;
              color: white;
            }
          }

          .detail {
            white-space: pre-wrap;
          }
        }

        .card_right {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .task_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2px;

            .mini_title {
              font-size: 0.8rem;
              color: $basic-2;
              white-space: nowrap;
            }

            label {
              display: flex;
              align-items: center;
              gap: 0.5em;
              position: relative;
              cursor: pointer;

              &::before,
              &:has(:checked)::after {
                content: '';
              }

              &::before {
                width: 22px;
                height: 22px;
                border-radius: 0.3rem;
                background-color: white;
                border: 1px solid $basic-3;
                transition: all 0.2s ease;
              }

              &:has(:checked)::before {
                background-color: $basic-2;
              }

              &:has(:checked)::after {
                position: absolute;
                top: 6px;
                left: 9px;
                transform: rotate(45deg);
                width: 4px;
                height: 8px;
                border: solid white;
                border-width: 0 2px 2px 0;
              }

              input {
                display: none;
              }
            }
          }

          .handle {
            padding: 3px;
            cursor: grab;
            color: gray;

            &:active {
              cursor: grabbing !important;
            }
          }
        }
      }

      .disabled_card {
        cursor: default;

        &:hover {
          background-color: white;
        }
      }

      .no_data {
        display: flex;
        align-items: center;
        color: gray;
        justify-content: center;
        padding: 5rem;
        gap: 5px;
      }
    }
  }
}

.mobile-app-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-app-modal {
    background: white;
    padding: 1.3rem;
    border-radius: 0.4rem;
    width: 75%;
    position: relative;
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.3s ease;

    &.active {
      transform: scale(1);
      opacity: 1;
    }

    .modal_title {
      display: flex;
      align-items: center;
      gap: 3px;
      font-weight: 600;
      color: $basic-3;
    }

    .edit_title_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .delete_btn {
        background-color: $basic-6;
        color: white;
        font-size: 0.9rem;
        text-align: center;
        color: white;
        padding: 3px 6px;
        border-radius: 0.2rem;
        transition: all 0.2s ease;

        &:hover {
          background-color: #f93d43;
        }
      }
    }

    .modal_contents_wrapper {
      max-height: 50vh;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .main_wrapper {
        color: $basic-2;
      }

      .btn_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        button {
          font-size: 0.9rem;
          width: 100%;
          padding: 4px;
          border: none;
          border-radius: 0.3rem;
          color: white;
          cursor: pointer;
          transition: all 0.2s ease;

          &:first-child {
            background-color: gray;

            &:hover {
              background-color: rgb(143, 143, 143);
            }
          }

          &:last-child {
            background-color: $basic-2;

            &:hover {
              background-color: #13577b;
            }
          }
        }
      }

      .scroll_wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        padding: 0.2rem;
      }

      .input_wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        .input_form {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 3px;

          label {
            font-size: 0.8rem;
            color: $basic-3;
          }

          input[type=text],
          textarea {
            font-size: 0.9rem;
            color: $basic-2;
            padding: 6px 8px;
            border-radius: 0.3rem;
            border: 1px solid $basic-2;
            outline: none;
            transition: all 0.2s ease;

            &:focus {
              border: 1px solid $basic-3;
              outline: 3px solid #3d95c551;
            }
          }

          textarea {
            resize: none;
          }

          .style_change {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-top: 8px;

            .color_select {
              display: flex;
              align-items: center;
              gap: 10px;

              label {
                font-size: 0.9rem;
              }

              input[type=color] {
                border-radius: 0.3rem;
                border: 1px solid $basic-2;
                cursor: pointer;
                transition: all 0.2s ease;

                &:focus {
                  border: 1px solid $basic-3;
                  outline: 3px solid #3d95c551;
                }
              }

              .default_colors {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-left: 5px;

                label {
                  border: 1px solid $basic-2;
                  width: 1.3rem;
                  height: 1.3rem;
                  border-radius: 0.3rem;
                  background-color: white;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  transition: all 0.2s ease;

                  .color_core {
                    width: 0.9rem;
                    height: 0.9rem;
                    border-radius: 0.2rem;
                  }

                  &:first-child .color_core {
                    background-color: $basic-2;
                  }

                  &:nth-of-type(2) .color_core {
                    background-color: $basic-6;
                  }

                  &:last-child .color_core {
                    background-color: $basic-4;
                  }

                  input[type=radio] {
                    display: none;
                  }

                  &:has(:checked) {
                    border: 1px solid $basic-3;
                    outline: 3px solid #3d95c551;
                  }
                }
              }
            }

            .boldness_select {
              display: flex;
              align-items: center;

              .checkbox-container {
                display: inline-block;
                position: relative;
                padding-left: 30px;
                cursor: pointer;
                font-size: 0.9rem;
                user-select: none;

                .custom-checkbox {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                  height: 0;
                  width: 0;
                }

                .checkmark {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 22px;
                  width: 22px;
                  border-radius: 4px;
                  transition: background-color 0.3s;
                  border: 1px solid $basic-2;

                  &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 7px;
                    top: 3px;
                    width: 5px;
                    height: 8px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                  }
                }

                .custom-checkbox:checked~.checkmark {
                  background-color: $basic-2;
                }

                .custom-checkbox:checked~.checkmark:after {
                  display: block;
                }

                .custom-checkbox:checked~.checkmark:after {
                  animation: checkAnim 0.2s forwards;
                }
              }

              @keyframes checkAnim {
                0% {
                  height: 0;
                }

                100% {
                  height: 10px;
                }
              }
            }
          }

          .badge_radio_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.8rem;

            label {
              border: 1px solid $basic-2;
              padding: 5px;
              border-radius: 0.3rem;
              width: 100%;
              text-align: center;
              cursor: pointer;
              font-size: 0.9rem;
              transition: all 0.2s ease;

              input[type=radio] {
                display: none;
              }

              &:has(:checked) {
                background-color: $basic-2;
                color: white;
              }
            }
          }

          .badge_style_change {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.8rem;

            .name_select {

              .name_radio_wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.5rem;

                label {
                  border: 1px solid $basic-2;
                  padding: 5px;
                  border-radius: 0.3rem;
                  width: 100%;
                  text-align: center;
                  cursor: pointer;
                  font-size: 0.9rem;
                  transition: all 0.2s ease;

                  input[type=radio] {
                    display: none;
                  }

                  &:has(:checked) {
                    background-color: $basic-2;
                    color: white;
                  }
                }
              }
            }

            .free_badge_input {
              width: 100%;
              display: flex;
              align-items: center;

              input {
                width: fill;
                transition: all 0.2s ease;

                &:focus {
                  border: 1px solid $basic-3;
                  outline: 3px solid #3d95c551;
                }
              }
            }

            .color_wrapper {
              display: flex;
              align-items: center;
              gap: 1rem;

              .color_select {
                display: flex;
                align-items: center;
                gap: 8px;

                label {
                  font-size: 0.9rem;
                }

                input[type=color] {
                  border-radius: 0.3rem;
                  border: 1px solid $basic-2;
                  cursor: pointer;
                  transition: all 0.2s ease;

                  &:focus {
                    border: 1px solid $basic-3;
                    outline: 3px solid #3d95c551;
                  }
                }
              }
            }
          }
        }
      }

      .submit_btn {
        background-color: $basic-7;
        color: $basic-2;
        border: 1px solid $basic-3;
        font-size: 0.9rem;
        padding: 5px;
        border-radius: 0.3rem;
        transition: all 0.2s ease;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background-color: #48e7f5;
        }
      }
    }
  }

  .close_btn {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $basic-2;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid white;
  }
}

.mobile-confirm-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-confirm-modal {
    background: white;
    padding: 1.3rem;
    border-radius: 0.4rem;
    width: 75%;
    position: relative;
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.3s ease;

    &.active {
      transform: scale(1);
      opacity: 1;
    }

    .main_wrapper {
      color: $basic-2;
    }

    .btn_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      button {
        font-size: 0.9rem;
        width: 100%;
        padding: 4px;
        border: none;
        border-radius: 0.3rem;
        color: white;
        cursor: pointer;
        transition: all 0.2s ease;

        &:first-child {
          background-color: gray;

          &:hover {
            background-color: rgb(143, 143, 143);
          }
        }

        &:last-child {
          background-color: $basic-2;

          &:hover {
            background-color: #13577b;
          }
        }
      }
    }
  }

  .close_btn {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $basic-2;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid white;
  }
}